joblib==1.3.2
alembic==1.16.4
shellingham==1.5.4
rsa==4.9.1
narwhals==2.2.0
catalogue==2.0.10
typer==0.16.0
pydantic_core==2.33.2
pycares==4.9.0
einops==0.8.1
proto-plus==1.26.1
dagster==1.11.7
PyDispatcher==2.0.7
language_data==1.3.0
dask==2024.1.0
bottle==0.13.4
PyYAML==6.0.1
queuelib==1.8.0
dagster-graphql==1.11.7
fastparquet==2023.10.1
locket==1.0.0
preshed==3.0.10
identify==2.6.13
Protego==0.5.0
spacy-loggers==1.0.5
antlr4-python3-runtime==4.9.3
pluggy==1.6.0
billiard==4.2.1
Brotli==1.1.0
langcodes==3.5.0
jpholiday==1.0.2
protobuf==5.29.5
opentelemetry-semantic-conventions==0.57b0
thinc==8.3.6
cachetools==5.5.2
sqlparse==0.5.3
pandas-ta==0.3.14b0
opentelemetry-sdk==1.36.0
graphql-core==3.2.6
async-timeout==4.0.3
lightgbm==4.6.0
tldextract==5.3.0
pytest==8.3.2
wsproto==1.2.0
MarkupSafe==3.0.2
grafana-api==1.0.3
importlib_metadata==8.7.0
grpcio-health-checking==1.71.2
blinker==1.9.0
mlflow-tracing==3.2.0
srsly==2.5.1
python-multipart==0.0.20
hf-xet==1.1.5
google-auth==2.23.4
docker==7.1.0
murmurhash==1.0.13
cloudpathlib==0.21.1
numba==0.59.0
pydantic==2.11.7
torchmetrics==1.8.1
feedparser==6.0.11
fastapi==0.116.1
pdfplumber==0.11.4
gitdb==4.0.12
googleapis-common-protos==1.70.0
colorlog==6.9.0
rich==14.1.0
flower==2.0.1
redis==5.2.1
toposort==1.10
google-cloud-storage==2.10.0
uvloop==0.19.0
psutil==5.9.8
partd==1.4.2
propcache==0.3.2
graphene==3.4.3
uvicorn==0.35.0
wandb==0.21.2
httptools==0.6.4
plac==1.4.5
PyWavelets==1.8.0
hydra-core==1.3.2
tqdm==4.66.4
slack_sdk==3.36.0
vine==5.1.0
ginza==5.2.0
gunicorn==23.0.0
sgmllib3k==1.0.0
databricks-sdk==0.62.0
kombu==5.5.4
pandas==2.2.3
torch-optimizer==0.3.0
colorama==0.4.6
spacy-legacy==3.0.12
tensorboard-data-server==0.7.2
zipp==3.23.0
grpcio-status==1.74.0
click-plugins==1.1.1.2
torch-geometric==2.6.1
markdown-it-py==3.0.0
opentelemetry-api==1.36.0
mdurl==0.1.2
virtualenv==20.33.1
sentry-sdk==2.35.1
marisa-trie==1.2.1
requests-oauthlib==2.0.0
w3lib==2.3.1
pypdfium2==4.30.0
google-auth-oauthlib==1.2.2
dagster-webserver==1.11.7
celery==5.5.3
transformers==4.54.1
ja_core_news_sm==3.8.0
mlflow-skinny==3.2.0
click-repl==0.3.0
SudachiPy==0.6.10
pydata-google-auth==1.9.1
Jinja2==3.1.6
google-cloud-bigquery==3.33.0
watchfiles==1.1.0
graphql-relay==3.2.0
numpy==1.26.4
docstring_parser==0.17.0
GitPython==3.1.45
SQLAlchemy==2.0.42
selenium==4.34.2
yarl==1.20.1
certifi==2025.7.14
smart_open==7.3.0.post1
tomlkit==0.13.3
parsel==1.10.0
optuna==4.5.0
watchdog==5.0.3
polars==0.20.31
google-resumable-media==2.7.2
pyarrow==15.0.0
gql==3.5.3
frozenlist==1.7.0
pytorch-ranger==0.1.1
optuna-dashboard==0.19.0
pyOpenSSL==25.1.0
blis==1.3.0
mlflow==3.2.0
cymem==2.0.11
yamllint==1.37.1
cloudpickle==3.1.1
google-cloud-core==2.4.3
python-dotenv==1.1.0
starlette==0.47.2
nodeenv==1.9.1
trio-websocket==0.12.2
requests-file==2.1.0
itemloaders==1.3.2
tokenizers==0.21.4
pre_commit==4.3.0
google-api-core==2.25.1
confection==0.1.5
spacy==3.8.7
huggingface-hub==0.34.3
universal_pathlib==0.2.6
plotly==6.3.0
httpx==0.26.0
GPUtil==1.4.0
PyPDF2==3.0.1
tabulate==0.9.0
pathspec==0.12.1
requests==2.32.3
click-didyoumean==0.3.1
itsdangerous==2.2.0
lxml==6.0.0
grpcio==1.74.0
click==8.1.8
cryptography==45.0.5
cfgv==3.4.0
beautifulsoup4==4.12.3
wrapt==1.17.2
typing-inspection==0.4.1
coloredlogs==14.0
google-crc32c==1.7.1
trio==0.30.0
aiodns==3.1.1
structlog==25.4.0
pytorch-lightning==2.5.2
toolz==1.0.0
Werkzeug==3.1.3
asyncio-throttle==1.0.2
pydantic-settings==2.10.1
multidict==6.6.3
backoff==2.2.1
lightning-utilities==0.15.2
cssselect==1.3.0
requests-toolbelt==1.0.0
Scrapy==2.12.0
asyncio-mqtt==0.16.2
weasel==0.4.1
humanfriendly==10.0
db-dtypes==1.4.3
ruff==0.12.8
regex==2025.7.34
aiohttp==3.9.5
SudachiDict-core==20250515
wasabi==1.1.3
PySocks==1.7.1
absl-py==2.3.1
cramjam==2.11.0
pdfminer.six==20231228
itemadapter==0.12.0
dagster_shared==1.11.7
websockets==15.0.1
urllib3==2.5.0
paho-mqtt==2.1.0
jmespath==1.0.1
safetensors==0.5.3
Flask==3.1.1
Mako==1.3.10
aiosignal==1.4.0
omegaconf==2.3.0
webdriver-manager==4.0.2
greenlet==3.2.4
llvmlite==0.42.0
pandas-gbq==0.26.1
humanize==4.12.3
dagster-pipes==1.11.7
amqp==5.3.1
iniconfig==2.1.0
annotated-types==0.7.0
astor==0.8.1
distlib==0.4.0
sortedcontainers==2.4.0
outcome==1.3.0.post0
tensorboard==2.20.0
smmap==5.0.2
jupyter_client==8.6.3
ipykernel==6.29.5
overrides==7.7.0
async-lru==2.0.5
charset-normalizer==3.4.2
nvidia-nvjitlink-cu12==12.6.85
exceptiongroup==1.3.0
nvidia-cufile-cu12==1.11.1.6
jupyterlab==4.4.3
jupyter_server_terminals==0.5.3
platformdirs==4.3.8
babel==2.17.0
rfc3986-validator==0.1.1
bleach==6.2.0
jupyterlab_server==2.27.3
decorator==5.2.1
terminado==0.18.1
triton==3.3.1
httpcore==1.0.9
torchvision==0.22.1
contourpy==1.3.2
fonttools==4.58.4
psutil==7.0.0
jupyter-lsp==2.2.5
matplotlib==3.10.3
rfc3339-validator==0.1.4
jupyter_core==5.8.1
parso==0.8.4
prometheus_client==0.22.1
wcwidth==0.2.13
nvidia-cusparse-cu12==12.5.4.2
stack-data==0.6.3
nvidia-curand-cu12==10.3.7.77
scikit-learn==1.7.0
torch==2.7.1
Pygments==2.19.2
pandas==2.3.0
nvidia-cublas-cu12==12.6.4.1
debugpy==1.8.14
pyzmq==27.0.0
mistune==3.1.3
defusedxml==0.7.1
h11==0.16.0
tomli==2.2.1
nbformat==5.10.4
filelock==3.18.0
mpmath==1.3.0
webencodings==0.5.1
nvidia-cusolver-cu12==11.7.1.2
packaging==25.0
seaborn==0.13.2
nvidia-cusparselt-cu12==0.6.3
pure_eval==0.2.3
nest-asyncio==1.6.0
uri-template==1.3.0
httpx==0.28.1
sympy==1.14.0
jedi==0.19.2
argon2-cffi-bindings==21.2.0
Send2Trash==1.8.3
networkx==3.4.2
anyio==4.9.0
nvidia-cufft-cu12==11.3.0.4
fsspec==2025.5.1
fastjsonschema==2.21.1
soupsieve==2.7
asttokens==3.0.0
jupyter_server==2.16.0
comm==0.2.2
webcolors==24.11.1
referencing==0.36.2
argon2-cffi==25.1.0
cycler==0.12.1
pycparser==2.22
tzdata==2025.2
torchaudio==2.7.1
cffi==1.17.1
tornado==6.5.1
executing==2.2.0
joblib==1.5.1
fqdn==1.5.1
sniffio==1.3.1
matplotlib-inline==0.1.7
beautifulsoup4==4.13.4
arrow==1.3.0
typing_extensions==4.14.0
nvidia-cuda-cupti-cu12==12.6.80
traitlets==5.14.3
pillow==11.2.1
prompt_toolkit==3.0.51
scipy==1.15.3
jsonschema-specifications==2025.4.1
rpds-py==0.25.1
notebook_shim==0.2.4
nvidia-cuda-runtime-cu12==12.6.77
nbclient==0.10.2
attrs==25.3.0
nvidia-nccl-cu12==2.26.2
requests==2.32.4
tinycss2==1.4.0
threadpoolctl==3.6.0
jupyter-events==0.12.0
nbconvert==7.16.6
python-dateutil==2.9.0.post0
kiwisolver==1.4.8
nvidia-cuda-nvrtc-cu12==12.6.77
nvidia-cudnn-cu12==9.5.1.17
websocket-client==1.8.0
ipython==8.37.0
nvidia-nvtx-cu12==12.6.77
types-python-dateutil==2.9.0.20250516
isoduration==20.11.0
python-json-logger==3.3.0
pandocfilters==1.5.1
json5==0.12.0
jupyterlab_pygments==0.3.0
numpy==2.2.6
jsonschema==4.24.0
ufw==0.36.1
colorama==0.4.4
certifi==2020.6.20
pyOpenSSL==21.0.0
cryptography==3.4.8
xkit==0.0.0
cloud-init==25.1.2
ptyprocess==0.7.0
PyYAML==5.4.1
pyasn1-modules==0.2.1
MarkupSafe==2.0.1
packaging==21.3
python-apt==2.4.0+ubuntu4
pyparted==3.11.7
jsonpatch==1.32
oauthlib==3.2.0
netifaces==0.11.0
six==1.16.0
attrs==21.2.0
bcrypt==3.2.0
requests-toolbelt==0.9.1
Babel==2.8.0
keyring==23.5.0
more-itertools==8.10.0
blinker==1.4
zipp==1.0.0
wheel==0.37.1
click==8.0.3
sos==4.8.2
PyHamcrest==2.0.2
gpg==1.16.0
distro==1.7.0
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
PyGObject==3.42.1
lazr.uri==1.0.6
idna==3.3
constantly==15.1.0
pyparsing==2.4.7
dbus-python==1.2.18
Twisted==22.1.0
SecretStorage==3.3.1
httplib2==0.20.2
pyrsistent==0.18.1
chardet==4.0.0
hyperlink==21.0.0
requests==2.25.1
configobj==5.0.6
command-not-found==0.3
Automat==20.2.0
jeepney==0.7.1
wadllib==1.3.6
dnspython==2.1.0
setuptools==59.6.0
systemd-python==234
service-identity==18.1.0
pip==22.0.2
pyasn1==0.4.8
distro-info==1.1+ubuntu0.2
zope.interface==5.4.0
Jinja2==3.0.3
python-debian==0.1.43+ubuntu1.1
jsonpointer==2.0
WALinuxAgent==2.2.46
incremental==21.3.0
screen-resolution-extra==0.0.0
ssh-import-id==5.11
ubuntu-pro-client==8001
Pygments==2.11.2
pexpect==4.8.0
python-magic==0.4.24
importlib-metadata==4.6.4
PyJWT==2.3.0
jsonschema==3.2.0
pytz==2022.1
urllib3==1.26.5
Markdown==3.3.6
pyserial==3.5
